/* ---------- CALENDAR ---------- */

.prev-month,
.next-month {
	opacity: 0.5;
}

.current-date {
	box-shadow: 0 2px 3px #ff003c, 0 0 0 1px #ff003c;
}

.start-date {
	background-color: #39d3ff;
	background-color: rgba(57, 211, 255, 0.3);
}

.draft-due-date {
	background-color: #ffc200
}

.booked {
	background-color: #ff003c
}

.tooltip.is-tooltip-multiline::after{
	font-size: 0.9em;
	text-align: justify;
}

.btn-prev,
.btn-next {
	color: hsl(204, 86%, 53%);
}

.btn-next:hover,
.btn-prev:hover {
	color: hsl(217, 71%, 53%);
}